.deck-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .back-button {
    display: inline-block;
    margin-bottom: 0px;
    color: #4a5568;
    text-decoration: none;
    font-size: 16px;
  }
  
  .back-button:hover {
    text-decoration: underline;
  }

  .generate-sentences-link {
    color: #4a5568;
    text-decoration: none;
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 0;
  }

  .generate-sentences-link:hover {
    text-decoration: underline;
  }
  
  .deck-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .deck-info {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 20px;
  }
  
  .new-term-container {
    margin-bottom: 30px;  /* Increased space under the 'Add Term' button */
  }
  
  .term-list {
    list-style-type: none;
    padding: 0;
  }
  
  .loading, .error {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
  }
  
  .error {
    color: #ef4444;
  }